.content {
    padding: 24px;
}
.flex-row {
    display: flex;
    justify-content: space-between;
}
.db-info {
    visibility: hidden;
    height: 26px;
    border-radius: 10px;
    background: #27ca27;
    padding: 4px 8px;
    font-size: 12px;
    line-height: 18px;
    color: white;
}
.visible {
    visibility: visible;
}
#jsoneditor {
    width: 100%;
    height: calc(100vh - 180px);
}
.jsoneditor.jsoneditor {
    margin-top: 24px;
    border-color: #673ab8;
    border-radius: 4px;
}

.jsoneditor .jsoneditor-menu {
    background-color: #673ab8;
}

h1, h6 {
    margin: 0 0 24px;
}